
<div class="container-fluid">
	<div class="row ">
		<nav class="col-md-2 d-none d-md-block bg-light sidebar">
			<div class="sidebar-sticky">
				<ul class="nav flex-column ">
					<li class="nav-item nav-link">
						<div class="input-group ">
							<input type="text" class="form-control " placeholder="Search">
							<div class="input-group-append">
								<button class="btn btn-secondary" type="button">
									<i class="fa fa-search"></i>
								</button>
							</div>
						</div>
					</li>
					<br>
					<br>
					<li class="nav-item">	
						<a class="nav-link" routerLink="/dashboard" routerLinkActive="active">Dashboard</a>
					</li>
					<li class="nav-item">	
						<a class="nav-link" routerLink="/user" routerLinkActive="active">Users</a>
					</li>
					<li class="nav-item">	
						<a class="nav-link" routerLink="/ratings" routerLinkActive="active">Ratings</a> 
					</li> 
					<li class="nav-item">	
						<a class="nav-link" routerLink="/addnews" routerLinkActive="active">Add News</a> 
					</li> 
					<li class="nav-item">	
						<a class="nav-link" routerLink="/addtab" routerLinkActive="active">Add Tab</a> 
					</li> 
				</ul>



			</div>
		</nav>